{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static  'css/footer_style.css' %}">
    
</head>
<body>

    <footer>
        <div class="gooey-animations"></div>
        <p class="copyright-text">
            Copyright &copy; 2024 All Rights Reserved by 
            <a href="http://bioinfo2.ugr.es/">Bioinformatics Lab</a> 
            at 
            <a href="https://cibm.ugr.es/">CIBM</a>
        </p>
    </footer>

<script src="{% static 'js/footer_script.js' %}"></script>

</body>
</html>
