@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


.content {
    margin-left: 200px;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    width: calc(100% - 200px); /* Adjust to match sidebar width */
}